template(name="productManagementUnitEditor")
  tr.editors.dual-border
    td.has-commands
      input(name="barcode" placeholder="mã vạch" value="{{barcode}}")
      .commands
        if allowDelete
          .lemon.rounded.tiny.btn.blue.animated.bounceIn.delete-unit: span.icon-minus-4
        //if showChangeSmallerUnit
        //  .lemon.rounded.tiny.btn.wisteria.animated.bounceIn.changeSmallerUnit: span.icon-loop-outline
        //if basicDetailModeEnabled
        //  .lemon.rounded.tiny.btn.lime.add-basicDetail: span.icon-plus-6

    td: input(name="unitName" placeholder="đơn vị tính" value="{{name}}")

    if changeConversion
      td: input(name="conversion" placeholder="qui đổi" min="0")
    else
      if isBase
        td Mặc Định
      else
        td {{conversion}}

    td: input(name="importPrice" placeholder="giá nhập" min="0")
    td: input(name="salePrice" placeholder="giá bán" min="0")