template(name="priceBookRowEdit")
  tr.editors.dual-border
    td.first-column {{productName}}
    td(align="center") {{productUnitName}}
    td.number {{barcode}}
    td(align="center") {{momentFormat createdAt "DD/MM/YYYY"}}

    if isPriceBookType 'default'
      td.number: input(name="editImportQuality" min="0")
      td.number: input(name="editSaleQuality" min="0")
    if isPriceBookType 'customer'
      td.number {{formatNumber salePrice}}
      td.number: input(name="editSaleQuality" min="0")
    if isPriceBookType 'provider'
      td.number {{formatNumber importPrice}}
      td.number: input(name="editImportQuality" min="0")


template(name="priceBookRowDisplay")
  tr.detail-row.click-enable
    td.first-column {{productName}}
    td(align="center") {{productUnitName}}
    td.number {{barcode}}
    td(align="center") {{momentFormat createdAt "DD/MM/YYYY"}}

    if isPriceBookType 'default'
      td.number {{formatNumber importPrice}}
      td.number {{formatNumber salePrice}}
    if isPriceBookType 'customer'
      td.number {{formatNumber salePriceBasic}}
      td.number {{formatNumber salePrice}}
    if isPriceBookType 'provider'
      td.number {{formatNumber importPriceBasic}}
      td.number {{formatNumber importPrice}}

