template(name="billManager")
  #content.modern.sales-app
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            .segments-container.size2
              +gridComponent(options=waitingGridOptions wrapperClass="segments-column" headerTemplate="billThumbnailHeader1" animation="bounceInDown")
              +gridComponent(options=deliveringGridOptions wrapperClass="segments-column" headerTemplate="billThumbnailHeader2" animation="bounceInDown")

      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text")

        .nano: .nano-content: .group-wrapper
          each allBills
            .caption.inner.advanced.product-selection
              +avatarImageComponent(avatar=avatarUrl alias=buyerName)
              span.text {{buyerName}}
                //.commands: span.icon-right-open-big.addSaleDetail
              span.left-info(style="text-transform: none; max-width: 140px") {{sellerName}}
              span.right-info {{momentFormat version.createdAt 'DD/MM/YYYY'}}


template(name="billThumbnailHeader1")
  span.icon-truck-1 Trong 7 ngày
template(name="billThumbnailHeader2")
  span.icon-award Quá 7 ngày