template(name="productManagementSalesHistorySection")
  .section.panel.panel-default.printable-area
    .panel-heading
      .show-on-print
        +merchantPrintingHeader
        .printing-info
          .document-name {{name}}

    .panel-body.debt-details
      table.lemon-grid.safe
        tr
          th(style="width:auto") ĐỐI TÁC
          th(style="width:100px; text-align:center") THỜI GIAN
          th.number(style="width:80px") SỐ LƯỢNG
          th(style="width:80px; text-align:center") ĐƠN VỊ
          th.number(style="width:100px") GIÁ
          th.number(style="width:120px") GHI CHÚ

        each allSaleDetails
          tr.header-row
            td.has-commands(colspan="7")
              | &nbsp;
              .bill-header <b>{{createdAt}}</b>
              //.commands(style="left: 80px; top:0px; font-style: italic; color:#7ac5f9") <b>{{description}}</b>

          each data
            if isImport
              each details
                if isProduct
                  tr.detail-row
                    td.first-column.has-commands
                      if isInventory
                        | Tồn kho đầu kỳ
                      else
                        |NCC {{providerName}}
                      .commands Hết Hạn
                    td(align="center") {{momentFormat expire "DD/MM/YYYY"}}
                    //td.number {{formatNumber availableQuality}}/{{formatNumber quality}}
                    td.number {{formatNumber quality}}
                    td(align="center") {{getProductUnitName productUnit}}
                    td.number {{formatNumber price}}
                    td.number

            if isOrder
              each details
                if isProduct
                  tr.detail-row
                    td.first-column.has-commands
                      span.icon-forward-3 {{getBuyerName buyer}}
                      .commands Ngày Bán
                    td(align="center") {{momentFormat createdAt "DD/MM/YYYY"}}
                    td.number {{quality}}
                    td(align="center") {{getProductUnitName productUnit}}
                    td.number {{formatNumber price}}
                    td.number


    .panel-footer
      unless inventoryInitial
        .right-float
          span.s5.note <b>TỔNG BÁN</b>/ TỔNG TỒN:
          span.s3 <b>{{formatNumber saleQuality}}</b>
          span.s5 /{{formatNumber inStockQuality}} <b>{{basicUnit}}</b>

      else
        .right-float
          span.s5.note <b>TỔNG TỒN</b>/ TỔNG NHẬP:
          span.s3 <b>{{formatNumber inStockQuality}}</b>
          span.s5 /{{formatNumber importQuality}} <b>{{unitName}}</b>