template(name="productManagementOverviewSection")
  .section.top.panel.panel-default
    input.hidden.avatarFile(type="file")
    .panel-heading
      +avatarImageComponent(avatar=avatarUrl alias=name)
      .caption
        input.editable.dashed(name="productName" value="{{name}}" maxlength="50")
        if basicUnit
          span.blured-color ({{basicUnit}})
          if basicDetailModeEnabled
            .lemon.rounded.tiny.btn.lime.add-basicDetail: span.icon-plus-6
      .sub1: input.editable.dashed(name="productPrice" value="{{price}}" maxlength="20" placeholder="thông tin sản phẩm"
      data-toggle="tooltip" data-container="body" data-placement="right" title="thông tin sản phẩm")

      //.sub2: input.editable.dashed(name="importPrice" value="{{importPrice}}" maxlength="20" style="width: 125px" placeholder="giá nhập"
      //data-toggle="tooltip" data-container="body" data-placement="right" title="thông tin của sản phẩm")

      //if buildInProduct
      //  .sub3: span(style="position:absolute; left: 80px; top: 80px"
      //  placeholder="mã sản phẩm" data-toggle="tooltip" data-container="body" data-placement="right" title="mã sản phẩm") {{productCode}}
      //else
      //  .sub3: input.editable(style="position:absolute; left: 75px; top: 80px" name="productCode" value="{{productCode}}" maxlength="20" size="20"
      //  placeholder="mã sản phẩm" data-toggle="tooltip" data-container="body" data-placement="right" title="mã sản phẩm")

      .commands
        //if showCreateUnitMode
        //  .lemon.btn.rounded.lime.icon-flow-merge.createUnit
        //if showEditCommand
        //  .lemon.btn.rounded.lime.icon-ok-6.syncProductEdit
        if allowDelete
          .lemon.btn.rounded.red.icon-minus-4.productDelete

    .panel-body
      table.lemon-grid
        tr.table-header
          th.has-commands(style="width:150px")
            span MÃ VẠCH
            .commands: .lemon.rounded.tiny.btn.lime.addProductUnit: span.icon-plus-6
          th(style="width:auto; min-width: 110px") ĐƠN VỊ TÍNH
          th(style="width:100px") QUI ĐỔI
          th.number(style="width:150px") GIÁ NHẬP
          th.number(style="width:150px") GIÁ BÁN

        each productUnits
          if unitEditingMode
            +productManagementUnitEditor unitEditingData
          else
            tr.detail-row.click-enable
              td.unitEditBarcode.has-commands
                span {{barcode}}
                .commands
                  if allowDelete
                    .lemon.rounded.tiny.btn.blue.deleteProductUnit: span.icon-minus-4
              td.unitEditName {{name}}
              if isBase
                td.unitEditConversion Mặc Định
              else
                td.unitEditConversion {{conversion}} {{currentProduct.unitName}}
              td.unitEditImportPrice.number {{formatNumber importPrice}} VNĐ
              td.unitEditSalePrice.number {{formatNumber salePrice}} VNĐ
    //
    //.panel-footer
    //  span.icon-angle-right
