template(name="importRowEdit")
  tr.editors.dual-border
    td.note.has-commands
      |{{productName product}}
      .commands
        .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteImportDetail: span.icon-minus-4
    td: input(name="editExpireDate" min="0")
    td.number: input(name="editImportQuality" min="0")
    td(align="center") {{productUnitName productUnit}}
    td.editable-field.number {{formatNumber price}}
    td.note.number <b>{{formatNumber detailFinalPrice}}</b>

template(name="importRowDisplay")
  tr.detail-row.click-enable
    td.has-commands
      |{{productName product}}
      .commands
        .lemon.rounded.tiny.btn.blue.deleteImportDetail: span.icon-minus-4
    td(align="center")
      if expire
        |{{momentFormat expire 'DD/MM/YYYY'}}
      else
        |Không
    td.number.editable-field {{formatNumber quality}}
    td(align="center") {{productUnitName productUnit}}
    td.editable-field.number {{formatNumber price}}
    td.number <b>{{formatNumber detailFinalPrice}}</b>