template(name="revenueBasicAreaReport")
  .section.top.panel.panel-default.printable-area
    .panel-heading Doanh Số Của Khu Vực:
    .panel-body
      .with-3d-shadow.with-transitions
        svg#totalRevenueAll.mypiechart(style="display: block; float: left; height: 500px !important; width: 600px !important;")
