template(name="customerManagementSalesHistorySection")
  .section.panel.panel-default.printable-area
    .panel-heading
      .show-on-print
        +merchantPrintingHeader
        .printing-info
          .document-name {{name}}

      table.lemon-grid: tr
        th(style="width:auto") SẢN PHẨM
        th.number(style="width:50px") SL
        th(style="width:100px; text-align:center") ĐƠN VỊ
        th.number(style="width:120px") ĐƠN GIÁ
        th.number(style="width:175px") THÀNH TIỀN

    .panel-body.debt-details
      table.lemon-grid.safe
        tr
          th(style="width:auto")
          th(style="width:50px")
          th(style="width:100px")
          th(style="width:120px")
          th(style="width:182px")

        each oldDebts
          tr.detail-row
            td.has-commands(style="border-left: solid 2px #d35400;")
              .bill-header {{description}}
              .commands: .lemon.rounded.tiny.btn.red.deleteTransaction: span.icon-minus-4
            td.number(colspan="2")
            td.number
            td.number(align="right"): span.s5 <b>{{formatNumber latestDebtBalance}}</b>

        each allSales
          +customerManagementSaleDetails this

        tr.editors(style="{{showTransaction}}")
          td(colspan="1"): input.transaction-field(type="text" size="10"
          name='paySaleDescription' placeholder="{{transactionDescription}}")

          td(colspan="3"): input.transaction-field.number(type="text" size="10"
          name='paySaleAmount' placeholder="số tiền")

          td(colspan="1"): .lemon.btn.lime.icon-money.pull-right.createTransaction(
          class="{{isNotDisabled 'allowCreateTransactionOfCustomer'}}") {{transactionStatus}}

    .panel-footer
      .right-float
        span.s5 TỔNG NỢ:
        span.s4 <b>{{formatNumber debtTotalCash}}</b> VND