template(name="providerManagementImportsHistorySection")
  .section.panel.panel-default.printable-area
    .panel-heading
      .show-on-print
        +merchantPrintingHeader
        .printing-info
          .document-name {{name}}

      table.lemon-grid: tr
        th(style="width:auto") SẢN PHẨM
        th.number(style="width:80px") SL
        th(style="width:100px; text-align:center") ĐƠN VỊ
        th.number(style="width:120px") ĐƠN GIÁ
        th.number(style="width:175px") THÀNH TIỀN

    .panel-body.debt-details
      table.lemon-grid.safe
        tr
          th(style="width:auto")
          th(style="width:80px")
          th(style="width:100px")
          th(style="width:120px")
          th(style="width:182px")

        each oldDebts
          tr.detail-row.summary-row
            td.has-commands
              .bill-header {{transactionName}}
              .commands: .lemon.rounded.tiny.btn.red.deleteTransaction: span.icon-minus-4
            td.number(colspan="2"): span.blured-color.icon-feather-1 <b>{{formatNumber latestDebtBalance}}</b>
            td.number(colspan="1"): span.blured-color <b>{{formatNumber paidBalanceChange}}</b>
            td.summary-total(align="right"): span.s5 <b>{{formatNumber debtBalanceChange}}</b>

        each allImports
          +providerManagementImportDetails this

        tr.editors
          td(colspan="1"): input.transaction-field(type="text" size="10"
          name='payImportDescription' placeholder="{{transactionDescription}}")

          td(colspan="3"): input.transaction-field.number(type="text" size="10"
          name='payImportAmount' placeholder="số tiền")

          td(colspan="1"): .lemon.btn.lime.icon-money.pull-right.createTransaction(
          class="{{isNotDisabled 'allowCreateTransactionOfImport'}}") {{transactionStatus}}

    .panel-footer
      .right-float
        span.s5 TỔNG NỢ:
        span.s3 <b>{{formatNumber debtTotalCash}}</b> VNĐ