template(name="providerManagementImportDetails")
  tr.header-row
    td.has-commands(colspan="5")
      | &nbsp;
      .bill-header <b>{{momentFormat version.createdAt "HH:MM:SS DD/MM/YYYY"}}</b> {{description}}
      //.commands
      //  if showDeleteImport
      //    .lemon.rounded.tiny.btn.red.deleteImport: span.icon-minus-4

  each details
    tr.detail-row
      td.first-column {{getProductName product}}
      td.number {{quality}}
      td(align="center") {{getProductUnitName productUnit}}
      td.number {{formatNumber price}}
      td.last-column.number {{formatNumber totalPrice}}


  each transactions
    tr.detail-row.summary-row
      td.has-commands
        .bill-header {{transactionName}}
        .commands: .lemon.rounded.tiny.btn.red.deleteTransaction: span.icon-minus-4
      td.number(colspan="2"): span.blured-color.icon-feather-1 <b>{{formatNumber latestDebtBalance}}</b>
      td.number(colspan="1"): span.blured-color <b>{{formatNumber paidBalanceChange}}</b>
      td.summary-total(align="right"): span.s5 <b>{{formatNumber debtBalanceChange}}</b>