template(name="priceBookOverviewSection")
  .section.top.panel.panel-default
    input.hidden.avatarFile(type="file")
    .panel-heading
      +avatarImageComponent(avatar=avatarUrl alias=firstName)
      .caption: input.editable.dashed(name="priceBookName" value="{{name}}" maxlength="50")
      .sub1: input.editable.dashed(name="priceBookDescription" value="{{description}}" maxlength="20" size="15" placeholder="ghi chú")
      .commands
        if showEditCommand
          .lemon.btn.rounded.lime.icon-ok-6.syncCustomerEdit
        if showDeleteCommand
          .lemon.btn.rounded.red.icon-minus-4.priceBookDelete

    .panel-footer.has-details
      .editor-wrapper(style="width: 200px")
        span.ilabel.optional bảng giá theo
        +iSelect(options=priceBookTypeSelects class="field")
      .editor-wrapper(style="width: 300px")
        span.ilabel.optional đối tượng áp dụng
        +iSelect(options=priceBookOwnerSelects class="field")