template(name="priceBookDetailSection")
  .section.panel.panel-default.printable-area
    .panel-heading
      .show-on-print
        +merchantPrintingHeader
        .printing-info
          .document-name {{name}}

      table.lemon-grid: tr
        th(style="width:auto") TÊN SẢN PHẨM
        th(style="width:100px; text-align:center") ĐƠN VỊ
        th(style="width:100px; text-align:center") MÃ VẠCH
        th(style="width:120px; text-align:center") NGÀY LẬP

        if isPriceBookType 'default'
          th.number(style="width:100px") GIÁ NHẬP
          th.number(style="width:100px") GIÁ BÁN
        if isPriceBookType 'customer'
          th.number(style="width:100px") GIÁ CƠ BẢN
          th.number(style="width:100px") GIÁ BÁN
        if isPriceBookType 'provider'
          th.number(style="width:100px") GIÁ CƠ BẢN
          th.number(style="width:100px") GIÁ NHẬP


    .panel-body.debt-details
      table.lemon-grid
        tr
          th(style="width:auto")
          th(style="width:100px")
          th(style="width:100px")
          th(style="width:120px")
          th(style="width:100px")
          th(style="width:100px")

        each allProductUnits
          if isRowEditing
            +priceBookRowEdit
          else
            +priceBookRowDisplay

    .panel-footer
      .right-float
        span.s5 TỔNG NỢ:
        span.s3 <b>{{formatNumber finalDebtBalance}}</b> VNĐ
        //h3 Tổng tiền: {{formatNumber totalPurchases}} VNĐ